*{
    margin: 0;
}
.Admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    width: 100%;

    .heading1{
        color: #ccc;
        margin: 1rem;
    }
    .AdminDiv{
        display: grid;
        grid-template-columns: .5fr 1.5fr;
        width: fit-content;
        height: 100vh;
        // overflow: hidden;
        // overflow-y: scroll;
        border:1px solid #ccc ;
    
        .sidebar{
            width: 20rem;
            background: #be7c7c;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // margin: 1rem;
    
            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color: antiquewhite;
                margin:1rem;
                height: 100%;
                
                .mylist{
                   list-style: none;
                   border: 1px solid #ccc;
                   border-radius: 20px;
                   box-shadow: 0 2px 40px rgba(0, 0, 0, 0.7);
                   margin: .5rem;
                   padding: 1rem;
                   font-size: 1rem;
                   font-weight: 800;
                   transition: all 1s ease-in-out;
                //    background: #c7abab; 
                }
                .mylist:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
        .content{
            background: #ccc;
            overflow-y: scroll;
            width: 79vw;
            .heading{
                margin-bottom: 1rem;
            }
            table {
                width: 80%;
                border-collapse: collapse;
                margin-bottom: 20px;
                margin-left: 20px;
                border: 1px solid #ccc;
                color: #653434;
                // border-radius: 20px;
                // box-shadow: 0 2px 40px rgba(0, 0, 0, 0.7);
              }
              
              /* Table header styling */
              th {
                background-color: #f2f2f2;
                padding: 8px;
                text-align: left;
                border-right: 3px solid #be7c7c;
              }
              
              /* Table row styling */
              td {
                padding: 8px;
                // border-bottom: 1px solid #ddd;
                border-right: 3px solid #be7c7c;
                font-size: 1.2rem;
              }
              
              tr{
                border:3px solid #be7c7c;
              }
              tr:nth-child(even) {
                background-color: #f9f9f9;
              }
              
              /* Highlighting rows on hover */
              tr:hover {
                background-color: #f2f2f2;
              }
              .CourseForm{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                margin: 1rem;
                
                input{
                  width: 15rem;
                  height: 2.5rem;
                  border-radius: .5rem;
                  outline: none;
                  border: none;
                  font-size: 1.4rem;
                  padding: .2rem;
                  background: #dc6363;
                }
                .DurationInput{
                  width: 3rem;
                  padding: .5rem;
                }
                .MaterialTypesField{
                  width: 70%;
                  height: 15rem;
                  border-radius: .5rem;
                  outline: none;
                  border: none;
                  font-size: 1.4rem;
                  padding: .4rem;
                  background: #653434;
                }
              }
              .FormDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2rem;
                // height: fit-content;

                .formdiv{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 1rem;
                  margin: 2rem;
                  width: fit-content;
                  box-shadow: 2px 2px 2px #653434;
                  padding: 1rem;
                  border-radius: .5rem;

                  input{
                    height: 2rem;
                    width: 20rem;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    font-size: 1rem;
                  }
                  .CheckBoxDiv{
                    display: flex;
                    gap: .3rem;
                    align-items: center;
                    .CheckBox{
                      width: 1rem;
                      height: 1rem;
                    }
                  }
                  
                }  
              }
            
        }
    }
}
