.EnrollmentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 1rem;
    width: 100vw;
    // height: 100vh;

    .headerDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        margin: 1rem;
        border: 2px solid #ccc;
        box-shadow: 2px 2px 2px rgba(204, 170, 139, 0.5);
        padding: 1rem;
        border-radius: 1.5rem;

        img{
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
        }
        .enrollmentButton{
            width: 8rem;
            height: 3rem;
            font-size: 1.5rem;
            font-weight: 800;
        }
        h2{
            font-size: 2rem;
        }
    }
    .footDiv{
        display: flex;
        flex-direction: column;
        gap: .6rem;
        // border: 2px solid #a28585;
        box-shadow: 2px 2px 2px 2px rgba(85, 70, 57, 0.8);
        padding: 1rem;
        border-radius: 2rem;
        margin-bottom: 2rem;

        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 1.1rem;
        }
        .faqItem{
            // width: 100%;
            border: 2px solid #ccc;
           padding: .5rem;
           border-radius: 1rem;

           .question{
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: .2rem;
            font-size: 1rem;
            font-weight: 500;

            .icon{
                font-size: 1.6rem;
            }

            .questions{
                display: flex;
                align-items: center;
                gap: .5rem;
            }
           }
        }

        .instructorIcon{
            font-size: 2.5rem;
        }
        .instructorIcon ,.instructorName{
            margin-left: 2rem;
        }
    }
}